.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list {
  display: none;
}

.header-address {
  display: none;
}

.logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.logo-part-header {
  color: var(--primary-accent-color);
}

.open-mobile-menu-btn {
  border: none;
  display: block;
  height: 45px;
  background-color: transparent;
  padding: 0;
  font-size: 0;
}

.open-mobile-menu-icon {
  fill: #2f2f37;
  transition: fil 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.open-mobile-menu-icon:hover,
.open-mobile-menu-icon:focus {
  fill: #4d5ae5;
}

@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-nav-link {
    display: block;
    font-weight: 500;
    position: relative;
    line-height: 1.5;
    padding: 24px 0;
    color: var(--primary-accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:hover,
  .header-nav-link:focus,
  .header-nav-link.current {
    color: var(--hover-color);
  }

  .header-address {
    display: block;
    font-style: normal;
    margin-left: auto;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .address-link {
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-size: 12px;
    color: var(--secondary-accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: var(--hover-color);
  }

  .header-nav-link.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
    left: 0;
    bottom: -1px;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-accent-color);
    padding: 24px 0;
    font-size: 16px;
  }
}
